
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1440px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 180px;
  min-height: 220px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: auto;
  height: 100px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
@media screen and (max-width : 599px) {
  .card {
    width: 100%;
  }
}